.navlink{
    border: 1px solid yellow;
    height: 5vh;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 1rem;
    text-align: center;
}